<!--<a href="/post/{{id}}">
<article class="post">
  <div class="title">
    {{title}}
    <span> Posted by {{user.username}} on {{format_date created_at}}</span>
   
  </div>
  <div class="meta">
   <p>{{movie_review}}</p>
   
  </div>
  <div class="meta">
    
    
    <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>
  </div>
</article>
</a>
-->

 <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

<a href="/post/{{id}}">
 
     <div>
        <h2>Movie Title: {{title}} </h2>
        <span> Posted by {{user.username}} on {{format_date created_at}}</span>
   
        </div>
       <p><h3>Genre: {{genre}}</h2>
        
        <p>
            <h3>Movie Review:</h2>
         {{movie_review}}
        </p>
        <h4>Star Rating: <span style="font-weight: 100;">{{star_rating}}/5</span></h4>
        <div>
     </div>
       </a>

     
